[submodule "external/sfml"]
	path = external/sfml
	url = https://github.com/SFML/SFML.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/tweeny"]
	path = external/tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "external/icon-font-cpp-headers/icons"]
	path = external/icon-font-cpp-headers/icons
	url = https://github.com/juliettef/IconFontCppHeaders.git
